/* Estilo global para todos los elementos */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* Fondo general y color del texto principal */
body {
     background-color: #fdfdfd;
     color: #333;
     font-family: Arial, sans-serif;
     line-height: 1.6;
}

/* Encabezado principal */
h1 {
     color: #00cccc;
     font-size: 2.5em;
     text-align: center;
     margin: 20px 0;
}

/* Párrafos */
p {
     font-family: 'Courier New', Courier, monospace;
     font-size: 1em;
     color: #5a3e36;
     margin-bottom: 10px;
}

/* Lista desordenada */
ul {
     color: #00ffff;
     list-style-type: square;
     margin-left: 20px;
}

/* Lista ordenada */
ol {
     color: #d10000;
     list-style-type: decimal-leading-zero;
     margin-left: 20px;
}

/* Clases adicionales para resaltar contenido específico */
.highlight {
     background-color: #fffbcc;
     padding: 5px;
     border-radius: 5px;
     font-weight: bold;
}

.important {
     color: #b22222;
     font-style: italic;
}