h1{
     padding: 25px;
     background-color: green;
     font-family: monospace;
     text-align: center;
     border-radius: 15px;
     color: aliceblue;
}

p#welcome{
     font-family: monospace;
     padding: 25px;
     font-size: large;
     text-align: center;
}

main{
     padding: 25px;
     margin: 0 auto;
     max-width: 400px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(180, 33, 33, 0.1);
}

input{
     padding: 5px;
     border: 1px solid;
     border-radius: 4px;
     width: 200px;
}

button{
     background-color: green;
     color: aliceblue;
     border-radius: 4px;
     width: 100px;
}